wallet/src/main/webapp/resources/schema/SimpleTransactionExportService_schema1.xsd

<!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.3-07/07/2014 12:56 PM(foreman)-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>-->
<xs:schema version="1.0" targetNamespace="http://webservice.ie.smallworldfs.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice.ie.smallworldfs.com/">
   <xs:element name="WebServiceException" nillable="true" type="tns:faultBean"/>
   <xs:element name="WebServiceValidationException" nillable="true" type="tns:validationFaultBean"/>
   <xs:element name="acknowledgeTransactionExport" type="tns:acknowledgeTransactionExport"/>
   <xs:element name="acknowledgeTransactionExportResponse" type="tns:acknowledgeTransactionExportResponse"/>
   <xs:element name="addTransactionNote" type="tns:addTransactionNote"/>
   <xs:element name="addTransactionNoteResponse" type="tns:addTransactionNoteResponse"/>
   <xs:element name="getMtnByFolio" type="tns:getMtnByFolio"/>
   <xs:element name="getMtnByFolioResponse" type="tns:getMtnByFolioResponse"/>
   <xs:element name="getTransactionExportTransactions" type="tns:getTransactionExportTransactions"/>
   <xs:element name="getTransactionExportTransactionsResponse" type="tns:getTransactionExportTransactionsResponse"/>
   <xs:element name="updateTransactionExport" type="tns:updateTransactionExport"/>
   <xs:element name="updateTransactionExportResponse" type="tns:updateTransactionExportResponse"/>
   <xs:element name="updateTransactionsExport" type="tns:updateTransactionsExport"/>
   <xs:element name="updateTransactionsExportResponse" type="tns:updateTransactionsExportResponse"/>
   <xs:complexType name="acknowledgeTransactionExport">
      <xs:sequence>
         <xs:element name="arg0" type="xs:string" minOccurs="0"/>
         <xs:element name="arg1" type="xs:string" minOccurs="0"/>
         <xs:element name="arg2" type="xs:long" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="acknowledgeTransactionExportResponse">
      <xs:sequence>
         <xs:element name="return" type="xs:boolean"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="faultBean">
      <xs:sequence>
         <xs:element name="message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="validationFaultBean">
      <xs:complexContent>
         <xs:extension base="tns:faultBean">
            <xs:sequence>
               <xs:element name="validationErrors" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="validationWarnings" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="updateTransactionsExport">
      <xs:sequence>
         <xs:element name="arg0" type="tns:transactionExportConfirmation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="arg1" type="xs:string" minOccurs="0"/>
         <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionExportConfirmation">
      <xs:sequence>
         <xs:element name="eventDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="message" type="xs:string" minOccurs="0"/>
         <xs:element name="mtn" type="xs:long" minOccurs="0"/>
         <xs:element name="payoutDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="processedSuccessfully" type="xs:boolean" minOccurs="0"/>
         <xs:element name="reference" type="xs:string" minOccurs="0"/>
         <xs:element name="statusCode" type="tns:transactionExportStatusCode" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateTransactionsExportResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:transactionExportConfirmation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getMtnByFolio">
      <xs:sequence>
         <xs:element name="arg0" type="xs:string" minOccurs="0"/>
         <xs:element name="arg1" type="xs:string" minOccurs="0"/>
         <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getMtnByFolioResponse">
      <xs:sequence>
         <xs:element name="return" type="xs:long" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateTransactionExport">
      <xs:sequence>
         <xs:element name="arg0" type="tns:transactionExportConfirmation" minOccurs="0"/>
         <xs:element name="arg1" type="xs:string" minOccurs="0"/>
         <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="updateTransactionExportResponse">
      <xs:sequence>
         <xs:element name="return" type="xs:boolean"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getTransactionExportTransactions">
      <xs:sequence>
         <xs:element name="arg0" type="tns:transactionExportTransactionType" minOccurs="0"/>
         <xs:element name="arg1" type="xs:string" minOccurs="0"/>
         <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="getTransactionExportTransactionsResponse">
      <xs:sequence>
         <xs:element name="return" type="tns:transactionExport" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionExport">
      <xs:complexContent>
         <xs:extension base="tns:baseTransaction">
            <xs:sequence>
               <xs:element name="agentName" type="xs:string" minOccurs="0"/>
               <xs:element name="amountOwed" type="xs:double" minOccurs="0"/>
               <xs:element name="deliveryFee" type="xs:double" minOccurs="0"/>
               <xs:element name="otherFee" type="xs:double" minOccurs="0"/>
               <xs:element name="payerReference" type="xs:string" minOccurs="0"/>
               <xs:element name="rate" type="xs:double" minOccurs="0"/>
               <xs:element name="settlementAmount" type="xs:double" minOccurs="0"/>
               <xs:element name="settlementCurrency" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseTransaction">
      <xs:complexContent>
         <xs:extension base="tns:webServiceObject">
            <xs:sequence>
               <xs:element name="agentCode" type="xs:int" minOccurs="0"/>
               <xs:element name="beneficiary" type="tns:transactionImportClient" minOccurs="0"/>
               <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
               <xs:element name="deliveryMethod" type="tns:deliveryMethod" minOccurs="0"/>
               <xs:element name="fixedFee" type="xs:double" minOccurs="0"/>
               <xs:element name="folioNumber" type="xs:string" minOccurs="0"/>
               <xs:element name="mtn" type="xs:long" minOccurs="0"/>
               <xs:element name="payerLocationCode" type="xs:string" minOccurs="0"/>
               <xs:element name="payerMtn" type="xs:int" minOccurs="0"/>
               <xs:element name="payoutCountry" type="xs:string" minOccurs="0"/>
               <xs:element name="payoutCurrency" type="xs:string" minOccurs="0"/>
               <xs:element name="payoutPrincipal" type="xs:double" minOccurs="0"/>
               <xs:element name="pinNumber" type="xs:string" minOccurs="0"/>
               <xs:element name="promotionAmount" type="xs:double" minOccurs="0"/>
               <xs:element name="promotionName" type="xs:string" minOccurs="0"/>
               <xs:element name="promotionNumber" type="xs:string" minOccurs="0"/>
               <xs:element name="sender" type="tns:transactionImportClient" minOccurs="0"/>
               <xs:element name="sendingCountry" type="xs:string" minOccurs="0"/>
               <xs:element name="serviceMessage" type="xs:string" minOccurs="0"/>
               <xs:element name="totalSale" type="xs:double" minOccurs="0"/>
               <xs:element name="variableFee" type="xs:double" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="webServiceObject">
      <xs:sequence>
         <xs:element name="companyPassword" type="xs:string" minOccurs="0"/>
         <xs:element name="companyUserName" type="xs:string" minOccurs="0"/>
         <xs:element name="server" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionImportClient">
      <xs:complexContent>
         <xs:extension base="tns:baseTransactionImportClient">
            <xs:sequence>
               <xs:element name="addressOtherInfo" type="xs:string" minOccurs="0"/>
               <xs:element name="buildingName" type="xs:string" minOccurs="0"/>
               <xs:element name="cityOfBirth" type="xs:string" minOccurs="0"/>
               <xs:element name="countryOfBirth" type="xs:string" minOccurs="0"/>
               <xs:element name="dateOfBirth" type="xs:dateTime" minOccurs="0"/>
               <xs:element name="employeeType" type="tns:employeeType" minOccurs="0"/>
               <xs:element name="employerId" type="xs:int" minOccurs="0"/>
               <xs:element name="employerOriginalId" type="xs:int" minOccurs="0"/>
               <xs:element name="firstLastName" type="xs:string" minOccurs="0"/>
               <xs:element name="firstName" type="xs:string" minOccurs="0"/>
               <xs:element name="gender" type="tns:gender" minOccurs="0"/>
               <xs:element name="idExpirationDate" type="xs:dateTime" minOccurs="0"/>
               <xs:element name="idIssueCountry" type="xs:string" minOccurs="0"/>
               <xs:element name="idIssueDate" type="xs:dateTime" minOccurs="0"/>
               <xs:element name="idIssueState" type="xs:string" minOccurs="0"/>
               <xs:element name="idIssuedBy" type="xs:string" minOccurs="0"/>
               <xs:element name="idNumber" type="xs:string" minOccurs="0"/>
               <xs:element name="idType" type="tns:idType" minOccurs="0"/>
               <xs:element name="ids" type="tns:transactionImportClientId" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
               <xs:element name="nationality" type="xs:string" minOccurs="0"/>
               <xs:element name="secondLastName" type="xs:string" minOccurs="0"/>
               <xs:element name="secondName" type="xs:string" minOccurs="0"/>
               <xs:element name="stateOfBirth" type="xs:string" minOccurs="0"/>
               <xs:element name="status" type="tns:clientStatus" minOccurs="0"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="baseTransactionImportClient">
      <xs:sequence>
         <xs:element name="address" type="xs:string" minOccurs="0"/>
         <xs:element name="bankAccountNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="bankAccountType" type="tns:bankAccountType" minOccurs="0"/>
         <xs:element name="bankBic" type="xs:string" minOccurs="0"/>
         <xs:element name="bankBranchCode" type="xs:string" minOccurs="0"/>
         <xs:element name="bankBranchId" type="xs:int" minOccurs="0"/>
         <xs:element name="bankBranchName" type="xs:string" minOccurs="0"/>
         <xs:element name="bankCode" type="xs:string" minOccurs="0"/>
         <xs:element name="bankIban" type="xs:string" minOccurs="0"/>
         <xs:element name="bankId" type="xs:int" minOccurs="0"/>
         <xs:element name="bankName" type="xs:string" minOccurs="0"/>
         <xs:element name="bankRoutingNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="banks" type="tns:transactionImportClientBank" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="changeDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="city" type="xs:string" minOccurs="0"/>
         <xs:element name="clientId" type="xs:int" minOccurs="0"/>
         <xs:element name="country" type="xs:string" minOccurs="0"/>
         <xs:element name="email" type="xs:string" minOccurs="0"/>
         <xs:element name="mobilePhoneCountry" type="xs:string" minOccurs="0"/>
         <xs:element name="mobilePhoneNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="occupationId" type="xs:short" minOccurs="0"/>
         <xs:element name="originalId" type="xs:int" minOccurs="0"/>
         <xs:element name="phoneCountry" type="xs:string" minOccurs="0"/>
         <xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="providerLocationCode" type="xs:string" minOccurs="0"/>
         <xs:element name="providerRepCode" type="xs:int" minOccurs="0"/>
         <xs:element name="ssn" type="xs:string" minOccurs="0"/>
         <xs:element name="state" type="xs:string" minOccurs="0"/>
         <xs:element name="streetName" type="xs:string" minOccurs="0"/>
         <xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="streetType" type="tns:streetType" minOccurs="0"/>
         <xs:element name="taxCode" type="xs:string" minOccurs="0"/>
         <xs:element name="type" type="tns:clientType" minOccurs="0"/>
         <xs:element name="zip" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionImportClientId">
      <xs:sequence>
         <xs:element name="changeDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="clientIdId" type="xs:int" minOccurs="0"/>
         <xs:element name="idExpirationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="idIssueCountry" type="xs:string" minOccurs="0"/>
         <xs:element name="idIssueDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="idIssueState" type="xs:string" minOccurs="0"/>
         <xs:element name="idIssuedBy" type="xs:string" minOccurs="0"/>
         <xs:element name="idNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="idType" type="tns:idType" minOccurs="0"/>
         <xs:element name="originalId" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="transactionImportClientBank">
      <xs:sequence>
         <xs:element name="bankAccountNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="bankAccountPrefix" type="xs:string" minOccurs="0"/>
         <xs:element name="bankAccountType" type="tns:bankAccountType" minOccurs="0"/>
         <xs:element name="bankBic" type="xs:string" minOccurs="0"/>
         <xs:element name="bankBranchCode" type="xs:string" minOccurs="0"/>
         <xs:element name="bankBranchId" type="xs:int" minOccurs="0"/>
         <xs:element name="bankBranchName" type="xs:string" minOccurs="0"/>
         <xs:element name="bankCode" type="xs:string" minOccurs="0"/>
         <xs:element name="bankIban" type="xs:string" minOccurs="0"/>
         <xs:element name="bankId" type="xs:int" minOccurs="0"/>
         <xs:element name="bankName" type="xs:string" minOccurs="0"/>
         <xs:element name="bankRoutingNumber" type="xs:string" minOccurs="0"/>
         <xs:element name="changeDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="clientBankId" type="xs:int" minOccurs="0"/>
         <xs:element name="originalId" type="xs:int" minOccurs="0"/>
         <xs:element name="providerLocationCode" type="xs:string" minOccurs="0"/>
         <xs:element name="providerRepCode" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addTransactionNote">
      <xs:sequence>
         <xs:element name="arg0" type="xs:long"/>
         <xs:element name="arg1" type="xs:string" minOccurs="0"/>
         <xs:element name="arg2" type="xs:string" minOccurs="0"/>
         <xs:element name="arg3" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="addTransactionNoteResponse">
      <xs:sequence>
         <xs:element name="return" type="xs:boolean"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="transactionExportStatusCode">
      <xs:restriction base="xs:string">
         <xs:enumeration value="AB"/>
         <xs:enumeration value="AC"/>
         <xs:enumeration value="AH"/>
         <xs:enumeration value="AP"/>
         <xs:enumeration value="AV"/>
         <xs:enumeration value="BF"/>
         <xs:enumeration value="BP"/>
         <xs:enumeration value="CB"/>
         <xs:enumeration value="CC"/>
         <xs:enumeration value="CD"/>
         <xs:enumeration value="CE"/>
         <xs:enumeration value="CH"/>
         <xs:enumeration value="CI"/>
         <xs:enumeration value="CM"/>
         <xs:enumeration value="CN"/>
         <xs:enumeration value="CO"/>
         <xs:enumeration value="CP"/>
         <xs:enumeration value="CR"/>
         <xs:enumeration value="CS"/>
         <xs:enumeration value="CT"/>
         <xs:enumeration value="CY"/>
         <xs:enumeration value="DD"/>
         <xs:enumeration value="DP"/>
         <xs:enumeration value="EL"/>
         <xs:enumeration value="IA"/>
         <xs:enumeration value="IB"/>
         <xs:enumeration value="IC"/>
         <xs:enumeration value="ID"/>
         <xs:enumeration value="IH"/>
         <xs:enumeration value="II"/>
         <xs:enumeration value="IM"/>
         <xs:enumeration value="IO"/>
         <xs:enumeration value="IR"/>
         <xs:enumeration value="IU"/>
         <xs:enumeration value="LF"/>
         <xs:enumeration value="LM"/>
         <xs:enumeration value="MA"/>
         <xs:enumeration value="MR"/>
         <xs:enumeration value="MT"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NB"/>
         <xs:enumeration value="NI"/>
         <xs:enumeration value="NP"/>
         <xs:enumeration value="NR"/>
         <xs:enumeration value="OC"/>
         <xs:enumeration value="OD"/>
         <xs:enumeration value="PD"/>
         <xs:enumeration value="PJ"/>
         <xs:enumeration value="PP"/>
         <xs:enumeration value="PR"/>
         <xs:enumeration value="PW"/>
         <xs:enumeration value="RC"/>
         <xs:enumeration value="RJ"/>
         <xs:enumeration value="RP"/>
         <xs:enumeration value="TN"/>
         <xs:enumeration value="TS"/>
         <xs:enumeration value="WA"/>
         <xs:enumeration value="WB"/>
         <xs:enumeration value="WC"/>
         <xs:enumeration value="WD"/>
         <xs:enumeration value="WF"/>
         <xs:enumeration value="WI"/>
         <xs:enumeration value="WL"/>
         <xs:enumeration value="WO"/>
         <xs:enumeration value="WP"/>
         <xs:enumeration value="WR"/>
         <xs:enumeration value="WS"/>
         <xs:enumeration value="WT"/>
         <xs:enumeration value="XA"/>
         <xs:enumeration value="XX"/>
         <xs:enumeration value="YP"/>
         <xs:enumeration value="OR"/>
         <xs:enumeration value="BC"/>
         <xs:enumeration value="BR"/>
         <xs:enumeration value="CA"/>
         <xs:enumeration value="XI"/>
         <xs:enumeration value="GE"/>
         <xs:enumeration value="C"/>
         <xs:enumeration value="A"/>
         <xs:enumeration value="PAI"/>
         <xs:enumeration value="ANL"/>
         <xs:enumeration value="EDL"/>
         <xs:enumeration value="DLR"/>
         <xs:enumeration value="TB"/>
         <xs:enumeration value="AN"/>
         <xs:enumeration value="UP"/>
         <xs:enumeration value="CRP"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="transactionExportTransactionType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NEW"/>
         <xs:enumeration value="VOID"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="employeeType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="OWNER"/>
         <xs:enumeration value="CHIEF"/>
         <xs:enumeration value="MANAGEMENT"/>
         <xs:enumeration value="STAFF"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="gender">
      <xs:restriction base="xs:string">
         <xs:enumeration value="FEMALE"/>
         <xs:enumeration value="MALE"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="idType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="PASSPORT"/>
         <xs:enumeration value="DRIVERS_LICENSE"/>
         <xs:enumeration value="ALIENCARD"/>
         <xs:enumeration value="CEDULA"/>
         <xs:enumeration value="NATURALIZATION"/>
         <xs:enumeration value="OTHER"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="clientStatus">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UNDER_REVIEW"/>
         <xs:enumeration value="APPROVED"/>
         <xs:enumeration value="EXPIRED"/>
         <xs:enumeration value="SUSPENDED"/>
         <xs:enumeration value="DECLINED"/>
         <xs:enumeration value="INACTIVE"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="bankAccountType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="CASHCARD"/>
         <xs:enumeration value="CHECKING"/>
         <xs:enumeration value="MOBILE"/>
         <xs:enumeration value="OTHER"/>
         <xs:enumeration value="SAVINGS"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="streetType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="AVENUE"/>
         <xs:enumeration value="STREET"/>
         <xs:enumeration value="ROAD"/>
         <xs:enumeration value="ROUNDABOUT"/>
         <xs:enumeration value="POLYGON"/>
         <xs:enumeration value="WALK"/>
         <xs:enumeration value="PLAZA"/>
         <xs:enumeration value="ROUND"/>
         <xs:enumeration value="crossing"/>
         <xs:enumeration value="COMPLEX"/>
         <xs:enumeration value="VIA"/>
         <xs:enumeration value="VILLAGE"/>
         <xs:enumeration value="APARTMENT"/>
         <xs:enumeration value="BLOCK"/>
         <xs:enumeration value="BARRIO"/>
         <xs:enumeration value="CHALET"/>
         <xs:enumeration value="PATH"/>
         <xs:enumeration value="COLOGNE"/>
         <xs:enumeration value="CASERIO"/>
         <xs:enumeration value="COST"/>
         <xs:enumeration value="BUILDING"/>
         <xs:enumeration value="GROUP"/>
         <xs:enumeration value="PLACE"/>
         <xs:enumeration value="MARKET"/>
         <xs:enumeration value="MUNICIPALITY"/>
         <xs:enumeration value="APPLE"/>
         <xs:enumeration value="TOWN"/>
         <xs:enumeration value="PASSAGE"/>
         <xs:enumeration value="PARK"/>
         <xs:enumeration value="EXTENSION"/>
         <xs:enumeration value="RAMBLA"/>
         <xs:enumeration value="PO_BOX"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="clientType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="INDIVIDUAL"/>
         <xs:enumeration value="COMPANY"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="deliveryMethod">
      <xs:restriction base="xs:string">
         <xs:enumeration value="PICK_UP"/>
         <xs:enumeration value="BANK_DEPOSIT"/>
         <xs:enumeration value="PHYSICAL_DELIVERY"/>
         <xs:enumeration value="ON_CALL"/>
         <xs:enumeration value="CASH_CARD_RELOAD"/>
         <xs:enumeration value="CASH_CARD_APP_PICK_UP"/>
         <xs:enumeration value="CASH_CARD_APP_PHYSICAL_DELIVERY"/>
         <xs:enumeration value="MOBILE_WALLET"/>
         <xs:enumeration value="MOBILE_TOP_UP"/>
         <xs:enumeration value="TEST_QUESTION"/>
         <xs:enumeration value="FIXED_AMOUNT"/>
         <xs:enumeration value="CASH_FOR_GOODS"/>
         <xs:enumeration value="ATM"/>
         <xs:enumeration value="BILL_PAYMENT"/>
         <xs:enumeration value="ACCOUNT_OPENING"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>